<!DOCTYPE html>
<html>
    <head>
        <title>Editar documento</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body>  
<center><h2>Editar</h2></center>   
<form action="/<%= documento._id%>?_method=PUT" method="post" enctype="application/xxx-www-url">
    <div class="container-fluid">
        <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
            <div class="form-group row">
                <div class="col-md-6">
                <label>Title</label>
                <input class='form-control' name="title" value="<%= documento.title %>" type="text">
                </div>
                <div class="col-md-6">
                <label>Poster path</label>
                <input class='form-control' name="poster_path" value="<%= documento.poster_path %>" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                <label>Vote average</label>
                <input class='form-control' name="vote_average" value="<%= documento.vote_average %>" type="number">
                </div>
                <div class="col-md-6">
                <label>Vote count</label>
                <input class='form-control' name="vote_count" value="<%= documento.vote_count %>" type="number">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                <label>Popularity</label>
                <input class='form-control' name="popularity" value="<%= documento.popularity %>" type="number">
                </div>
                <div class="col-md-6">
                <label>Release date</label>
                <input class='form-control' name="release_date" value="<%= documento.release_date %>" type="date">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                <label>Original language</label>
                <input class='form-control' name="original_language" value="<%= documento.original_language %>" type="string">
                </div>
                <div class="col-md-6">
                <label>Original title</label>
                <input class='form-control' name="original_title" value="<%= documento.original_title %>" type="string">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                <label>Overview</label>
                <input class='form-control' name="overview" value="<%= documento.overview %>" type="string">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                <button class="btn btn-success form-control" type="submit">Editar</button>
                </div>
                <div class="col-md-6">
                <a href="/"><button class="btn btn-danger form-control">Cancelar</button></a>
                </div>
            </div>
        </div>
        <div class='col-md-2'></div>
        </div>
    </div>    
</form>
    </body>
</html>