<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid">
<div class='row'>
<div class='col-md-1 col-sm-1'></div>
<div class='col-md-10 col-sm-10'>

<h2>Angular CRUD</h2>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Votos</th>
      <th scope="col">Popularidad</th>
      <th scope="col">Fecha estreno</th>
      <th scope="col">Idioma</th>
      <th scope="col">Operacion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let documento of documentos">
      <td>{{ documento.title }} {{ documento.poster_path }}</td>
      <td>{{ documento.vote_average }} {{ documento.vote_count }}</td>
      <td>{{ documento.popularity }}</td>
      <td>{{ documento.release_date }}</td>
      <td>{{ documento.original_language }} {{ documento.original_title }}</td>
      <td>
        <a href="/editar/{{ documento._id }}">
        <button class='btn btn-info'><i class="fa fa-edit"></i>Editar</button>
        </a> 
        <button class='btn btn-danger' (click)="eliminar(documento)" ><i class="fa fa-trash"></i>Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<nav aria-label="Page navigation example">
<ul class="pagination">
<li class="page-item" [ngClass]="{'disabled':(indicepaginacion <= 0)}">
      <button class="page-link" (click)="anterior()">Anterior</button>
</li>
<li class="page-item" *ngFor="let boton of counter; let indice = index" [ngClass]="{'active':(indicepaginacion == indice)}">
    <button class="page-link" (click)="cambiarindice(indice)">{{ (indice + 1) }}</button>
</li>
<li class="page-item" [ngClass]="{'disabled':(indicepaginacion >= (cantidadbotones-1))}">
      <button class="page-link" (click)="siguiente()">Siguiente</button>
</li>
</ul>
</nav>

</div>
<div class='col-md-1 col-sm-1'></div>
</div>
</div>