<div class="container-fluid">
<div class='row'>
<div class='col-md-1'></div>
<div class='col-md-10'>
<form ngNoForm [formGroup]="formulario" (submit)="submitcreardocumento()">

<div class="form-group row">
    <div class="col-md-6">
    <label>Title</label>
    <input class='form-control' type="text"   formControlName="title"             [(ngModel)]="documento.title">
    </div>
    <div class="col-md-6">
    <label>Poster path</label>
    <input class='form-control' type="text"   formControlName="poster_path"       [(ngModel)]="documento.poster_path">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
    <label>Vote average</label>
    <input class='form-control' type="number" formControlName="vote_average"      [(ngModel)]="documento.vote_average">
    </div>
    <div class="col-md-6">
    <label>Vote count</label>
    <input class='form-control' type="number" formControlName="vote_count"        [(ngModel)]="documento.vote_count">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
    <label>Popularity</label>
    <input class='form-control' type="number" formControlName="popularity"        [(ngModel)]="documento.popularity">
    </div>
    <div class="col-md-6">
    <label>Release date</label>
    <input class='form-control' type="date"   formControlName="release_date"      [(ngModel)]="documento.release_date">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
    <label>Original language</label>
    <input class='form-control' type="string" formControlName="original_language" [(ngModel)]="documento.original_language">
    </div>
    <div class="col-md-6">
    <label>Original title</label>
    <input class='form-control' type="string" formControlName="original_title"    [(ngModel)]="documento.original_title">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
    <label>Overview</label>
    <input class='form-control' type="string" formControlName="overview"          [(ngModel)]="documento.overview">
    </div>
</div>
<button class="btn btn-success form-control" type="submit" [disabled]="!formulario.valid">Enviar</button>
</form>
</div>
<div class='col-md-1'></div>
</div>
</div>
